.page-size {
  width: 50%;
  margin-left: 25%;
}
.header-text{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.input-container {
  width: 75%;
  margin-bottom: 20px;
}
.input-item {
  width: 45%;
}
.button-item {
  width: 20%;
}
