.button-item {
  width: 95%;
  margin: 0% 0% 0% 0%;
  font-size: 20px;
  padding :15px 5px 15px 5px;
  background-color: white;
  border-top: 0px;
  border-bottom: 3px solid grey;
  border-left: 0px;
  border-right: 0px;

}
.button-item:hover {
  background-color: silver;
}
.right-container {
  margin-left: 3%;
}
.text-header {
  font-size: 25px;
  margin: 13px 0px 5px 0px;
}
.article-text {
  font-size: 17px;
}
.page-size {
  min-height: 54vh;
  width: 70%;
  margin-left: 15%;
}

@media(max-width: 1200px) {
  .page-size {
    width: 90%;
    margin-left: 5%;
  }
}

@media(max-width: 854px) {
  .button-item {
    font-size: 15px;
  }
}